*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.parent{
    width: 100%;
    height: 100vh;
    background-color: black;
    /* border-radius: 8px; */
}

.box{
    position: fixed;
    top: 10%;
    left: 30%;
    display:flex ;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 600px;
    height: 600px;
    border-radius: 8px;
    /* margin: 100px 300px 100px 300px; */
     background-color: white;
}

.btn{
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    margin:10px;
    height: 45px;
    width: 360px;
    font-size: 20px;
    background-color: rgb(98, 96, 96);
}

.input{
    color: whitesmoke;
    border: 5px;
    border-radius: 8px;
    margin:5px;
    padding: 8px;
    height: 30px;
    width: 340px;
    font-size: 20px;
    background-color: rgb(175, 152, 175);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 10px;
}    

.label{
    font-size: 20px;
    margin-left:10px;
}