*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.parent{
    width: 100%;
    height: 100vh;
    background-color: black;
    /* border-radius: 8px; */
}

.box{
    position: fixed;
    top: 10%;
    left: 30%;
    display:flex ;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 600px;
    height: 400px;
    border-radius: 8px;
    /* margin: 100px 300px 100px 300px; */
     background-color: white;
}

.heading{
    font-size: 40px;
    margin: 10px;
}

.subheading{
    font-size: 20px;
    margin: 10px;
}

.btn{
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    margin:10px;
    height: 30px;
    width: 340px;
    font-size: 20px;
    background-color: rgb(98, 96, 96);
}